logic-app/workflow.json
{
    "definition": {
        "metadata": {
            "notes": {}
        },
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "timeZone": "India Standard Time",
                    "schedule": {
                        "hours": [
                            0
                        ],
                        "minutes": [
                            1
                        ]
                    }
                }
            }
        },
        "actions": {
            "Compose": {
                "type": "Compose",
                "inputs": "@concat('HelloApi_',formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),'.json')",
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "Create_blob_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@body('HTTP')",
                    "headers": {
                        "ReadFileMetadataFromServer": true
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('stalctdemopoc1'))}/files",
                    "queries": {
                        "folderPath": "/api-output",
                        "name": "@{outputs('Compose')}",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://helloapi-c0cqheg0fef4begj.centralindia-01.azurewebsites.net/api/hello",
                    "method": "GET"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureblob": {
                    "id": "/subscriptions/ca0912bf-b8a5-4760-9cb8-6b908ab992af/providers/Microsoft.Web/locations/centralindia/managedApis/azureblob",
                    "connectionId": "/subscriptions/ca0912bf-b8a5-4760-9cb8-6b908ab992af/resourceGroups/rg-lct-demo-poc-1/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}